.jumbotron {
  padding-top: 5rem;
  background-color: #e9967a;
}

#Projects {
  background-color: #e9967a;
}

/* #Contact  {
  background-color: #e9967a;
  /* color : white; */
} */

section {
  padding-top: 5rem;
}
